.skills{
	height:100vh;

	.title{
		font-size: 3.5rem;
		font-weight: 700;
	}
	.row{
		margin-top: 50px;
	}
	.social{
		display: flex;
		justify-content: center;
		align-items: center;

		.angular{
			padding: 0 100px;
		}
	}


}

	.hr{

		width: 70%;
		display: flex;
		margin: 0 auto;
				margin-top: 50px;
		align-items: center;

	}