.skills{
	

	.title{
		font-size: 3.5rem;
		font-weight: 700;
	}
	.row{
		margin-top: 50px;
	}
	.social{
		height: 35vh;
		flex-wrap: wrap;
		font-size: 1.9rem;
		.angular{
			
		}

		.text{
			font-size: 1.5rem;
			text-align: center;
			height: 10vh;
		}
	}


}

	.hr{

		width: 70%;
		display: flex;
		margin: 0 auto;
				margin-top: 30px;
		align-items: center;

	}